.jumbotron {
  background-color: rgba(78, 221, 241, 0.49);
  color: white;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffffff;
  margin-bottom: 0;
  margin-top: 20px;
}

.btn {
  background-color: #1ee29b;
  color: white;
  width: 100%;
}

.card-hotel {
  flex: 1 150px;
  padding: 10px;
  margin-top: 10px;
}

a {
  color: rgba(#09a7ac, 0.7);
}
